/* General CSS for Lyrian Chronicles character sheet */

/* ROLL BUTTONS */
.charsheet button[type="roll"] {
  background: none;
  border: 0;
  box-shadow: none;
  font-weight: bold;
  text-transform: uppercase;
  width: 100%;
  line-height: 0.5;
  color: inherit;
  font-size: inherit;
  margin: 0;
  padding: 0;
  vertical-align: baseline;
  text-align: center;
}
.charsheet button[type="roll"]:hover {
  color: #b61037;
}
.charsheet button[type="roll"]:focus {
  color: #b61037;
  outline: none;
}
.charsheet button[type="roll"]::before {
  display: none;
}
.charsheet button[type="roll"]:hover {
  background: none !important;
}
.charsheet button[type="roll"]:active {
  background: none !important;
  box-shadow: none !important;
  outline: none !important;
  color: inherit !important;
  border: none !important;
}
/* ROLL BUTTONS */

/* CHECKBOXES */
.charsheet .custom-radio-checkbox {
  display: flex;
  align-items: center;
  gap: 8px;
  height: 15px;
}
.charsheet .custom-radio-checkbox input[type="checkbox"] {
  display: none;
}
.charsheet .custom-radio-checkbox label {
  width: 13px;
  height: 13px;
  border: 2px solid #6c6c6c;
  border-radius: 50%;
  display: inline-block;
  position: relative;
  cursor: pointer;
  background: #fff;
  transition: border-color 0.2s;
  margin-bottom: 0px;
  box-sizing: border-box;
  padding: 0px;
}
.charsheet
  .custom-radio-checkbox
  input[type="checkbox"]:checked
  + label::after {
  content: "";
  position: absolute;
  left: 1.8px;
  top: 1.8px;
  width: 6px;
  height: 6px;
  background: #6c6c6c;
  border-radius: 50%;
  display: block;
  box-sizing: border-box;
  margin-bottom: 0px;
}
.charsheet
  .custom-radio-checkbox
  input[type="checkbox"]:checked
  + label:hover::after {
  background: #b61037;
}
.charsheet .custom-radio-checkbox label:hover {
  border-color: #b61037;
}
.charsheet .custom-radio-checkbox span {
  font-size: 11px;
}
/* CHECKBOXES */

/* Hide number input spinners for Chrome, Safari, Edge, Opera */
.charsheet input[type="number"]::-webkit-outer-spin-button,
.charsheet input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Hide number input spinners for Firefox */
.charsheet input[type="number"] {
  -moz-appearance: textfield;
  appearance: textfield;
}

.charsheet input:hover,
.charsheet input:focus,
.charsheet textarea:hover,
.charsheet textarea:focus {
  background: #e5fffb;
  outline: none;
}
.charsheet select:hover,
.charsheet select:focus {
  background: #e5fffb;
}
.charsheet select:hover option,
.charsheet select:focus option {
  background: white;
}

/* OTHER START*/
.charsheet .flex-row {
  display: flex;
  flex-direction: row;
}
.charsheet .flex-row.space-between {
  justify-content: space-between;
}
.charsheet .flex-column {
  display: flex;
  flex-direction: column;
}
.charsheet .full-width {
  width: 100%;
}
.charsheet .flex-1 {
  flex: 1;
}
.charsheet .column-reverse {
  flex-direction: column-reverse;
}
.charsheet .row-reverse {
  flex-direction: row-reverse;
}
.charsheet .align-center {
  align-items: center;
}
.charsheet .justify-center {
  justify-content: center;
}
.charsheet .pt-5 {
  padding-top: 5px;
}
.charsheet .pb-5 {
  padding-bottom: 5px;
}
.charsheet .p10 {
  padding: 10px;
}
.charsheet .margin10 {
  margin: 10px;
}
.charsheet .push-to-end {
  margin-top: auto;
}
/* OTHER END */

.charsheet {
  padding: 0px !important;
  width: 880px;
}
.charsheet .sheet-lyrian-chronicles {
  background: white;
  color: black;
  font-size: 13px;
  line-height: 18px;
  margin: 0;
  overflow: scroll;
  border-image: url("https://raw.githubusercontent.com/Morrocker/LyrianChroniclesRoll20/refs/heads/main/Assets/LyrianOuterBorder.png")
    100 100 100 100 fill stretch;
  border-style: solid;
  border-width: 30px 30px;
  box-sizing: border-box;
}
.charsheet .sheet-section-pc {
  margin: 0 auto;
  width: 100%;
}

.charsheet .section-container {
  border-image: url("https://raw.githubusercontent.com/Morrocker/LyrianChroniclesRoll20/refs/heads/main/Assets/LyrianContainer2.png")
    50 50 50 50 fill stretch;
  border-style: solid;
  border-width: 15px;
  box-sizing: border-box;
  width: 100%;
}
.charsheet .section-container .header {
  grid-area: header;
  font-size: 12px;
  font-weight: bold;
  text-transform: uppercase;
  margin-top: -5px;
  margin-bottom: 5px;
  padding-left: 10px;
  color: #717171;
}
/* General CSS for Lyrian Chronicles character sheet */

/* HEADER */
.charsheet .sheet-section-pc-header {
  display: grid;
  grid-template-areas: "logo details";
  grid-template-columns: 350px auto;
  gap: 10px;
  height: 160px;
  margin-bottom: 40px;
}
.charsheet .sheet-section-pc-header-logo {
  grid-area: logo;
}
.charsheet .sheet-section-pc-header-logo div {
  background: url("https://raw.githubusercontent.com/Morrocker/LyrianChroniclesRoll20/refs/heads/main/Assets/LyrianChroniclesBanner.png");
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  background-position: center;
  display: block;
  background-size: 100%;
  margin: 0, auto;
}

.charsheet .header-details-container {
  grid-area: details;
  border-image: url("https://raw.githubusercontent.com/Morrocker/LyrianChroniclesRoll20/refs/heads/main/Assets/sheet-box-border.png")
    50 50 50 50 fill stretch;
  border-style: solid;
  border-width: 20px 20px;
  box-sizing: border-box;
}
.charsheet .header-details-title {
  border-bottom: 2px solid #202020;
  color: #202020;
  font-size: 15px;
  font-weight: bold;
  line-height: 14px;
  margin-left: -20px;
  margin-right: -20px;
  margin-top: -10px;
  text-align: center;
  text-transform: uppercase;
}
.charsheet .header-details-content {
  display: grid;
  grid-template-areas:
    "name spiritcore experience"
    "race subrace gender"
    "age c-weight c-height";
  grid-template-columns: 1fr 1fr 1fr;
  gap: 10px;
  row-gap: 0px;
  height: 100%;
  width: 100%;
  margin-top: 10px;
  margin-bottom: -10px;
}
.charsheet .name {
  grid-area: name;
}
.charsheet .spiritcore {
  grid-area: spirit-core;
}
.charsheet .experience {
  grid-area: experience;
}
.charsheet .race {
  grid-area: race;
}
.charsheet .subrace {
  grid-area: subrace;
}
.charsheet .gender {
  grid-area: gender;
}
.charsheet .age {
  grid-area: age;
}
.charsheet .weight {
  grid-area: c-weight;
}
.charsheet .height {
  grid-area: c-height;
}
.charsheet .header-details-content div {
  display: flex;
  flex-direction: column-reverse;
}
.charsheet .header-details-content input {
  margin-bottom: 0;
  border-left: 0;
  border-right: 0;
  border-top: 0;
  border-bottom: 1px solid black;
  border-radius: 0;
  height: 19px;
  padding: 0;
  width: 100% !important;
  border-color: #cccccc;
  background-color: white;
}
.charsheet .header-details-content select {
  margin-bottom: 0;
  border-left: 0;
  border-right: 0;
  border-top: 0;
  border-bottom: 1px solid black;
  border-radius: 0;
  height: 19px;
  padding: 0;
  width: 100%;
  border-color: #cccccc;
}
.charsheet .header-details-content label {
  font-size: 9px;
  text-transform: uppercase;
  font-weight: bold;
  line-height: 1.5;
  color: #cccccc;
}
/* HEADER END */

/* TABS START */
.charsheet .sheet-tabs {
  position: relative;
  width: 100%;
}
.charsheet .sheet-tabs::after {
  clear: both;
  content: "";
  display: block;
}
.charsheet .sheet-tab {
  width: 100%;
}
.charsheet .sheet-tab:nth-of-type(2) > input[type="radio"],
.charsheet .sheet-tab:nth-of-type(2) > .sheet-tab-label {
  margin-left: 16.66667%;
}
.charsheet .sheet-tab:nth-of-type(3) > input[type="radio"],
.charsheet .sheet-tab:nth-of-type(3) > .sheet-tab-label {
  margin-left: 33.33333%;
}
.charsheet .sheet-tab:nth-of-type(4) > input[type="radio"],
.charsheet .sheet-tab:nth-of-type(4) > .sheet-tab-label {
  margin-left: 50%;
}
.charsheet .sheet-tab:nth-of-type(5) > input[type="radio"],
.charsheet .sheet-tab:nth-of-type(5) > .sheet-tab-label {
  margin-left: 66.66667%;
}
.charsheet .sheet-tab:nth-of-type(6) > input[type="radio"],
.charsheet .sheet-tab:nth-of-type(6) > .sheet-tab-label {
  margin-left: 83.33333%;
}
.charsheet .sheet-tab > input[type="radio"] {
  height: 30px;
  margin: 0;
  opacity: 0;
  position: absolute;
  top: 0;
  width: 16.66667%;
  z-index: 1;
}
.charsheet .sheet-tab > input[type="radio"]:hover ~ .sheet-tab-label {
  background: #979797;
  border-bottom-color: #ffffff;
  color: #575757;
}
.charsheet .sheet-tab > .sheet-tab-label {
  align-items: center;
  background: #dddddd;
  border-radius: 6px 6px 0 0;
  border: 2px solid #dddddd;
  color: #8a8a8a;
  display: flex;
  font-size: 11px;
  font-variant: small-caps;
  font-weight: bold;
  height: 30px;
  justify-content: center;
  margin: 0;
  position: absolute;
  text-transform: uppercase;
  top: 0;
  width: 16.66667%;
  border-left-color: white;
  border-top-color: white;
  border-right-color: white;
  border-bottom-color: lightgrey;
}
.charsheet .sheet-tab > input[type="radio"]:checked ~ .sheet-tab-label {
  background: white;
  border-color: #575757;
  border-bottom-color: white;
  color: black;
}
.charsheet .sheet-tab > input[type="radio"]:checked {
  cursor: auto;
}
.charsheet .sheet-tab > input[type="radio"]:checked ~ .sheet-tab-content {
  display: flex;
}
.charsheet .sheet-tab-content {
  /* min-height: 847px; */
  display: none;
  padding: 10px;
  padding-top: 45px;
  width: 100%;
  box-sizing: border-box;
  gap: 10px;
}
/* TABS END */

.charsheet .core-left-column {
  display: flex;
  flex-direction: column;
  /* justify-content: space-between; */
  width: 310px;
  gap: 5px;
}
.charsheet .core-right-column {
  display: flex;
  flex-direction: column;
  width: 490px;
  gap: 5px;
}
.charsheet .features-left-column {
  display: flex;
  flex-direction: column;
  width: 400px;
  gap: 5px;
}
.charsheet .features-right-column {
  display: flex;
  flex-direction: column;
  /* justify-content: space-between; */
  width: 400px;
  gap: 5px;
}

/* ATTRIBUTES START */
.charsheet .main-stats-container {
  display: grid;
  grid-template-areas:
    "main-stats secondary-stats"
    "focus fitness"
    "power cunning"
    "agility reason"
    "toughness awareness"
    ". presence";
  grid-template-columns: 1fr 1fr;
  width: 310px;
}
.charsheet .focus {
  grid-area: focus;
  padding-right: 5px;
}
.charsheet .power {
  grid-area: power;
  padding-right: 5px;
}
.charsheet .agility {
  grid-area: agility;
  padding-right: 5px;
}
.charsheet .toughness {
  grid-area: toughness;
  padding-right: 5px;
}
.charsheet .cunning {
  grid-area: cunning;
  border-left: #afafaf 1px solid;
  padding-bottom: 2px;
  padding-left: 5px;
}
.charsheet .awareness {
  grid-area: awareness;
  border-left: #afafaf 1px solid;
  padding-bottom: 2px;
  padding-left: 5px;
}
.charsheet .presence {
  grid-area: presence;
  border-left: #afafaf 1px solid;
  padding-bottom: 2px;
  padding-left: 5px;
}
.charsheet .reason {
  grid-area: reason;
  border-left: #afafaf 1px solid;
  padding-bottom: 2px;
  padding-left: 5px;
}
.charsheet .fitness {
  grid-area: fitness;
  border-left: #afafaf 1px solid;
  padding-bottom: 2px;
  padding-left: 5px;
}

.charsheet .section-container .header.main {
  grid-area: main-stats;
}
.charsheet .section-container .header.secondary {
  grid-area: secondary-stats;
}

.charsheet .attribute-container,
.charsheet .attribute-container2 {
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  justify-content: start;
}
/* .attribute-container.fill{
    width: 100%;
} */
.charsheet .attribute-container .label,
.charsheet .attribute-container2 .label {
  display: flex;
  color: #717171;
  height: 30px;
  width: 110px;
  border-image: url("https://raw.githubusercontent.com/Morrocker/LyrianChroniclesRoll20/refs/heads/main/Assets/AttibuteVal.png")
    50 50 50 50 fill stretch;
  border-style: solid;
  border-width: 10px 10px;
  box-sizing: border-box;
  font-size: 12px;
  text-transform: uppercase;
  font-weight: bold;
  margin-left: -15px; /*this is to fit the 2 pieces*/
  padding-left: 10px; /*without this it ends too close to the edge*/
  text-align: center;
  justify-content: start;
  line-height: 0.5;
}
.charsheet .attribute-container .value {
  width: 37px;
  height: 37px;
  border-image: url("https://raw.githubusercontent.com/Morrocker/LyrianChroniclesRoll20/refs/heads/main/Assets/AttibuteVal.png")
    50 50 50 50 fill stretch;
  border-style: solid;
  border-width: 10px 10px;
  box-sizing: border-box;
  font-size: 10px;
  font-weight: bold;
  justify-content: center;
  align-content: center;
  z-index: 10;
}
.charsheet .attribute-container .value input,
.charsheet .attribute-container2 .value input {
  border: 0;
  background: transparent;
  width: 30px !important;
  height: 26px;
  text-align: center;
  font-size: 20px;
  font-weight: bold;
  padding: 0;
  margin-left: -6.5px;
  margin-top: -4px;
  color: black;
}
/* ATTRIBUTE END*/

/* DERIVED ATTRIBUTES START*/
.charsheet .gap-5 {
  gap: 5px;
}

.charsheet .all-hp {
  grid-area: all-hp;
}
.charsheet .all-rp {
  grid-area: all-rp;
}
.charsheet .all-mp {
  grid-area: all-mp;
}
.charsheet .evasion-dodge {
  grid-area: evasion-dodge;
}
.charsheet .dodge {
  grid-area: dodge;
}
.charsheet .guard-block {
  grid-area: guard-block;
}
.charsheet .block {
  grid-area: blocking;
}
.charsheet .saving-throw {
  grid-area: saving-throw;
}
.charsheet .potency-save {
  grid-area: potency-save;
}
.charsheet .initiative {
  grid-area: initiative;
}

.charsheet .attribute-container .label.composite {
  justify-content: center;
  width: 160px;
}
.charsheet .attribute-container .label button[type="roll"] {
  font-size: 12px !important;
  margin-left: -3px;
  line-height: 0.1;
  text-align: start;
}
.charsheet .attribute-container .value.composite {
  display: flex;
  flex-direction: row;
  justify-content: start;
  width: 160px;
}
.charsheet .attribute-container .value.composite input {
  width: 42px !important;
  margin-left: 0px;
  font-size: 15px;
}

.charsheet .attribute-container .value.composite input:nth-of-type(2) {
  border-left: #a7a7a7 1px solid;
  border-radius: 0%;
}
.charsheet .attribute-container .value.composite input:nth-of-type(3) {
  border-left: #a7a7a7 1px solid;
  border-radius: 0%;
}
.charsheet .attribute-container2 .value {
  background: url("https://raw.githubusercontent.com/Morrocker/LyrianChroniclesRoll20/refs/heads/main/Assets/diamond2.png");
  width: 40px;
  height: 40px;
  background-repeat: no-repeat;
  background-position: center;
  display: flex;
  background-size: 100%;
  margin: 0, auto;
  z-index: 20;
  justify-content: center;
  align-items: center;
}
.charsheet .attribute-container2 .label {
  margin-left: -30px;
  padding-left: 25px;
  width: 130px;
}
.charsheet .attribute-container2 .label button[type="roll"] {
  font-size: 12px !important;
  margin-left: -3px;
  line-height: 0.1;
  text-align: start;
}
.charsheet .attribute-container2 .value input {
  width: 40 !important;
  margin-top: 0.3px;
  margin-left: 0px;
  font-size: 16px;
}

.charsheet .derived-stats {
  display: grid;
  grid-template-areas:
    "evasion dodge"
    "guard blocking"
    "save-bonus potency"
    "initiative speed";
  grid-template-columns: 1fr 1fr;
  /* width: 310px; */
  gap: 5px;
}

.charsheet .evasion {
  grid-area: evasion;
}
.charsheet .dodge {
  grid-area: dodge;
}
.charsheet .guard {
  grid-area: guard;
}
.charsheet .blocking {
  grid-area: blocking;
}
.charsheet .save-bonus {
  grid-area: save-bonus;
}
.charsheet .potency {
  grid-area: potency;
}
.charsheet .speed {
  grid-area: speed;
}
.charsheet .initiative {
  grid-area: initiative;
}

.charsheet .section-container.basic-attacks {
  display: grid;
  justify-content: space-around;
  align-items: center;
  grid-template-areas:
    "basic-light-attack basic-heavy-attack"
    "basic-precision-attack basic-HEAVY-attack";
  gap: 5px;
}
.charsheet .light {
  grid-area: basic-light-attack;
}
.charsheet .heavy {
  grid-area: basic-heavy-attack;
}
.charsheet .heavy2 {
  grid-area: basic-HEAVY-attack;
}
.charsheet .precision {
  grid-area: basic-precision-attack;
}

.charsheet .attribute-container .label.basic-attack {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 0px;
  width: 180px;
}
.charsheet .attribute-container .label.basic-attack button {
  font-size: 14px !important;
  line-height: 0.3;
  text-align: center;
}

.charsheet .static-stat {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  /* gap: 5px; */
}
.charsheet .attribute-value.single-block {
  display: flex;
  width: 70px;
  height: 37px;
  border-image: url("https://raw.githubusercontent.com/Morrocker/LyrianChroniclesRoll20/refs/heads/main/Assets/AttibuteVal.png")
    50 50 50 50 fill stretch;
  border-style: solid;
  border-width: 10px 10px;
  box-sizing: border-box;
  font-size: 10px;
  font-weight: bold;
  justify-content: center;
  align-content: center;
  z-index: 10;
}
.charsheet .attribute-value.single-block input {
  margin-top: 3px;
}
.charsheet .small-attribute-label {
  font-size: 7px;
  text-transform: uppercase;
  font-weight: bold;
  line-height: 1.5;
  color: #454545;
  margin-bottom: -12px;
  z-index: 30;
}
/* DERIVED ATTRIBUTES END */

/* TABLES START */
.charsheet .table-container {
  display: flex;
  flex-direction: column;
  border-image: url("https://raw.githubusercontent.com/Morrocker/LyrianChroniclesRoll20/refs/heads/main/Assets/AttibuteVal.png")
    50 50 50 50 fill stretch;
  border-style: solid;
  border-width: 10px 10px;
  box-sizing: border-box;
  min-height: 300px;
}
.charsheet .table-container .table-name {
  font-size: 12px;
  font-weight: bold;
  text-transform: uppercase;
  margin-top: -5px;
  margin-bottom: 5px;
  margin-left: -6px;
  /* margin-right: 12px; */
  color: #717171;
  border-bottom: #202020 2px solid;
  text-align: center;
  padding: 0px;
  width: 106%;
}
.charsheet .table-container .table-name.class-table-name{
    width: 103.5%;
}
.charsheet .table-container .headers {
  display: flex;
  flex-direction: row;
  width: 100%;
  border-bottom: #717171 1px solid;
}
.charsheet .table-container .headers div {
  font-size: 10px;
}
/* TABLES START */

/* SKILLS TABLE START*/
.charsheet .table-container .headers .skill-name {
  flex: 6;
  text-align: left;
  padding-left: 5px;
}
.charsheet .table-container .headers .skill-bonus {
  flex: 2;
  text-align: center;
}
.charsheet .table-container .headers .skill-points {
  flex: 2;
  text-align: center;
}
.charsheet .table-container .skill-row {
  font-size: 10px;
  display: flex;
  flex-direction: row;
  width: 100%;
  border-top: #717171 1px solid;
}
.charsheet .table-container .skill-row.no-top {
  border-top: none !important;
}
.charsheet .table-container .skill-row .skill-name {
  font-size: inherit;
  flex: 6;
  text-align: left;
  padding-left: 5px;
}
.charsheet .table-container .skill-row .skill-name button[type="roll"] {
  font-size: inherit;
  font-weight: normal;
  text-transform: capitalize;
  margin-left: -5px;
  margin-right: -2px;
  line-height: 0.1;
  text-align: start;
}
.charsheet .table-container .skill-row .skill-bonus {
  font-size: inherit;
  flex: 2;
  text-align: center;
}
.charsheet .table-container .skill-row .skill-points {
  font-size: inherit;
  flex: 2;
  text-align: center;
}
.charsheet .table-container .skill-row .skill-bonus input,
.charsheet .table-container .skill-row .skill-points input {
  border: 0;
  background: transparent;
  width: 30px !important;
  text-align: center;
  font-weight: bold;
  padding: 0;
  color: black;
}
/* SKILLS TABLE END */

/* INJURIES TABLE START*/
.charsheet .table-container .injuries-grid {
  display: grid;
  grid-template-areas:
    "head-injury eye-injury"
    "main-hand-injury off-hand-injury"
    "leg-injury foot-injury"
    "muscle-injury laceration-injury"
    "spirit-circuit-injury wound-injury";
  width: 100%;
  gap: 2px;
  /* padding: 5px 0px; */
}
.charsheet .injuries-grid .head {
  grid-area: head-injury;
}
.charsheet .injuries-grid .eye {
  grid-area: eye-injury;
}
.charsheet .injuries-grid .main-hand {
  grid-area: main-hand-injury;
}
.charsheet .injuries-grid .off-hand {
  grid-area: off-hand-injury;
}
.charsheet .injuries-grid .leg {
  grid-area: leg-injury;
}
.charsheet .injuries-grid .foot {
  grid-area: foot-injury;
}
.charsheet .injuries-grid .muscle {
  grid-area: muscle-injury;
}
.charsheet .injuries-grid .laceration {
  grid-area: laceration-injury;
}
.charsheet .injuries-grid .spirit-circuit {
  grid-area: spirit-circuit-injury;
}
.charsheet .injuries-grid .wound {
  grid-area: wound-injury;
}
.charsheet .injury-container {
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  justify-content: start;
  width: 100%;
}
/* INJURIES TABLE END*/

/* CLASSES TABLE START */
.charsheet .headers .class-name {
  flex: 6;
  text-align: left;
  padding-left: 5px;
}
.charsheet .headers .class-tier {
  flex: 2;
  text-align: center;
}
.charsheet .headers .class-level {
  flex: 2;
  text-align: center;
}
.charsheet .headers .class-xp {
  flex: 3;
  text-align: center;
}
.charsheet .headers .class-delete {
  flex: 1;
}
.charsheet .class-row {
  font-size: 10px;
  display: none;
  flex-direction: row;
  width: 100%;
  border-bottom: #717171 1px solid;
}
.charsheet .class-row .class-name {
  font-size: inherit;
  flex: 6;
  text-align: left;
  padding-left: 5px;
  font-weight: bold;
}
.charsheet .class-row .class-tier {
  font-size: inherit;
  flex: 2;
  text-align: center;
}
.charsheet .class-row .class-level {
  font-size: inherit;
  flex: 2;
  text-align: center;
}
.charsheet .class-row .class-level select {
  margin-bottom: 0;
  border: none;
  height: 19px;
  padding: 0;
  width: 100%;
  text-align: center;
  font-size: 10px;
}
.charsheet .class-row .class-xp {
  font-size: inherit;
  flex: 3;
  text-align: center;
  justify-content: center;
}
.charsheet .class-row .class-delete {
  flex: 1;
  text-align: center;
}
.charsheet .class-row .class-xp input {
  border: 0;
  background: transparent;
  width: 100% !important;
  text-align: center;
  padding: 0;
  color: black;
  font-size: 10px;
}
.charsheet input:checked + .class-row {
  display: flex;
}

/* CLASSES TABLE END */

/* CREATE CLASSES FORM START */
.charsheet .create-form-btn {
  width: 90px;
  height: 15px;
}
.charsheet .create-form-btn input[type="checkbox"] {
  opacity: 0;
  position: absolute;
  width: 90px;
  height: 15px;
  z-index: 10;
}
.charsheet .create-form-btn span {
  display: flex;
  font-size: 10px;
  width: 90px;
  height: 15px;
  font-weight: bold;
  text-transform: uppercase;
  color: #717171;
  width: 100%;
  text-align: center;
  align-items: center;
  justify-content: center;
  padding-top: 2px;
  border: #8a8a8a 2px solid;
  border-radius: 4px;
  cursor: pointer;
  margin-top: 0px;
}

.charsheet .create-form-btn input:hover + span {
  border-color: #b61037;
  color: #b61037;
}
.charsheet .create-form-btn input:active + span {
  border-color: #ff0000;
  color: #ff0000;
}
.charsheet .sheet-toggle + .toggable-form {
  display: none;
}
.charsheet .sheet-toggle:checked + .toggable-form {
  display: flex;
}
.charsheet input[type="checkbox"]:checked + .create-form-btn {
  display: none;
}
.charsheet .toggable-form {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 5px;
  border: #717171 1px solid;
  border-radius: 5px;
  align-items: center;
}
.charsheet .toggable-form .class-label {
  font-size: 11px;
  font-weight: bold;
  color: #717171;
  text-transform: uppercase;
  text-align: center;
  justify-content: center;
  flex: 1;
}
.charsheet .toggable-form .class-select {
  flex: 2;
}
.charsheet .toggable-form .form-btns {
  display: flex;
  flex-direction: row;
  gap: 10px;
  margin-top: 5px;
  justify-content: center;
  /* align-items: center; */
}
.charsheet .toggable-form .form-btns button {
  width: 90px;
  height: 15px;
  font-size: 10px;
  font-weight: bold;
  text-transform: uppercase;
  color: #717171;
  border: #8a8a8a 2px solid;
  border-radius: 4px;
  background: white;
  cursor: pointer;
}
.charsheet .toggable-form .form-btns button:hover {
  border-color: #b61037;
  color: #b61037;
}
.charsheet .toggable-form .form-btns button:active {
  border-color: #ff0000;
  color: #ff0000;
}
/* CREATE CLASSES FORM END */

.charsheet .delete-item-btn {
  width: 20px;
  height: 20px;
}
.charsheet .delete-item-btn input[type="checkbox"] {
  opacity: 0;
  position: absolute;
  margin-left: -10px;
  width: 20px;
  height: 20px;
  z-index: 10;
}
.charsheet .delete-item-btn span {
  display: flex;
  width: 20px;
  height: 20px;
  font-size: 10px;
  font-weight: bold;
  text-transform: uppercase;
  color: #717171;
  text-align: center;
  align-items: center;
  justify-content: center;
  border: none;
  cursor: pointer;
  margin-top: 0px;
}
.charsheet .delete-item-btn input:hover + span {
  border-color: #b61037;
  color: #b61037;
}
.charsheet .delete-item-btn input:active + span {
  border-color: #ff0000;
  color: #ff0000;
}

/* BREAKTHROUGHS TABLE START */
.charsheet .headers .breakthrough-name {
  flex: 6;
  text-align: left;
  padding-left: 5px;
}
.charsheet .headers .breakthrough-cost {
  flex: 2;
  text-align: center;
}
.charsheet .headers .breakthrough-requirements {
  flex: 6;
  text-align: center;
}
.charsheet .headers .breakthrough-delete {
  flex: 1;
  text-align: center;
}
.charsheet .breakthrough-row {
  font-size: 10px;
  display: none;
  flex-direction: row;
  width: 100%;
  border-bottom: #717171 1px solid;
}
.charsheet .breakthrough-row .breakthrough-name {
  font-size: inherit;
  flex: 6;
  text-align: left;
  padding-left: 5px;
  font-weight: bold;
}
.charsheet .breakthrough-row .breakthrough-name button[type="roll"] {
  font-size: inherit;
  font-weight: bold;
  text-transform: capitalize;
  margin-left: -5px;
  margin-right: -2px;
  line-height: 0.1;
  text-align: start;
}
.charsheet .breakthrough-row .breakthrough-cost {
  font-size: inherit;
  flex: 2;
  text-align: center;
}
.charsheet .breakthrough-row .breakthrough-requirements {
  font-size: inherit;
  flex: 6;
  text-align: start;
}
.charsheet .breakthrough-row .breakthrough-delete {
  flex: 1;
  text-align: center;
}
.charsheet input:checked + .breakthrough-row {
  display: flex;
}
/* BREAKTHROUGHS TABLE END */